/* BASE */






/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #0e1a2a, #1e0d16);
    color: #fff;
    background-image: url(../../../img/Gradient.png), url(../../../img/Background.png), linear-gradient(130deg, var(--color-Azulfundo1), var(--color-Azulfundo2), #7f1d1de3);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



/* HEADER */

.header {
    padding: 20px 0;
    background: rgba(10, 20, 30, 0.35);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.header .container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #cbd5e1;
    font-weight: 400;
}

.menu a:hover {
    color: #fff;
}



/* HERO */

.hero {
    text-align: center;
    margin-top: 48px;
}

.hero h1 {
 color: var(--color-Branco);
    font-size: clamp(48px, 5.5vw, 72px);
    font-family: 'Montserrat B';
    line-height: 1.1;
}

.hero span {
    color: var(--color-RedSuave);
    line-height: 85px;
    font-family: 'Montserrat B';
}

.hero p {
    margin-top: 24px;
    font-size: clamp(18px, 1.5vw, 20px);
    color: var(--color-Cinza);
    font-family: 'Nunito R';
    line-height: 32px;
}



/* FORM CARD */

.form-area {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.card-cadastro{
    width: 90%;
    max-width: 800px;
    background: #1d2c3a;
    padding-top: 30px;
    padding: 0 40px;
    border-radius: 25px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}

.section-title {
    font-size: 30px;
    font-weight: 600;
    margin: 16px 0 16px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat B';
}

#seguranca {
    border-top: #374151b9 1px solid;

}

.icon-box {
    background-image: linear-gradient(90deg, #F87171,var(--color-LaranjaSuave));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 85px;
}



/* GRID */

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 5%;
}

#grid-senha {
    margin-bottom: 3%;
}

/* INPUTS */

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #d0d8e0;
    font-size: 14px;
    font-family: 'Nunito M';
}

.input-group input,
.input-group select {
    font-size: 14px;
    width: 100%;
    padding: 12px;
    border: 1px solid #334155;
    background: #243445;
    border-radius: 10px;
    color: #fff;
    font-family: 'Nunito R';
}

.input-group select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url(../../../img/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
    cursor: pointer;
}


/* CHECKBOX */

.checkbox {
    display: flex;
    align-items: center;
    margin: 8px 0;
    gap: 10px;
    font-size: 14px;
}

.checkbox a {
    color: #FF6B30;
    font-family: 'Nunito M';
}

.checkbox span {
    margin: 8px 0 8px 0;
    font-family: 'Nunito R';
    font-size: 16px;
    color: #d0d8e0;
}

.checkbox span a {
    color: var(--color-LaranjaSuave);
    text-decoration: none;
}

.checkbox span a:hover {
    text-decoration: underline;
}


/* BUTTONS */

.btn-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn-primary,
.btn-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.btn-primary {
    background: linear-gradient(45deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    color: var(--color-Branco);
    font-family: 'Montserrat B';
    font-size: 18px;
    padding: 16px 48px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.35s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transform: translateZ(0);

    max-width: 242px;
    min-height: 40px;
}

.btn-primary:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(255, 70, 20, 0.3);
    background: linear-gradient(90deg, var(--color-RedIntenso), var(--color-LaranjaIntenso));
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--color-RedSuave);
    color: var(--color-RedSuave);
    font-family: 'Montserrat B';
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 180px;
    min-height: 54px;
}

.btn-outline:hover {
    background: var(--color-RedSuave);
    color: var(--color-Branco);
    box-shadow: 0 0 25px rgba(239, 68, 68, 0.4);
}



/* LINK "FAZER LOGIN" */

.login-link {
    text-align: center;
    margin: 28px 0;
    font-family: 'Nunito R';
    font-size: 14px;
    color: #d0d8e0a6;
    border-top: 1px solid #334155;
    padding-top: 16px;
}

.login-link a {
    color: var(--color-LaranjaSuave);
    font-family: 'Nunito M';
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}



/* FOOTER */

.footer {
    background: #0f1a25;
    padding: 50px 0 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
    gap: 30px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-column a {
    display: block;
    color: #cbd5e1;
    margin: 5px 0;
    text-decoration: none;
}

.footer-column a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
    color: #94a3b8;
}



/* RESPONSIVIDADE */

@media (max-width: 800px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .btn-row {
        flex-direction: column;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
