* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Nunito R';
    src: url(../global/Fontes/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    font-weight: 300;
    line-height: 32;
}

@font-face {
    font-family: 'Nunito R/I';
    src: url(../global/Fontes/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    font-weight: 300;
    line-height: 32;
}

@font-face {
    font-family: 'Nunito M';
    src: url(../global/Fontes/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    font-weight: 400;
    line-height: 36;
}

@font-face {
    font-family: 'Nunito SB';
    src: url(../global/Fontes/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    font-weight: 500;
    line-height: 32;
}

@font-face {
    font-family: 'Montserrat B';
    src: url(../global/Fontes/Montserrat-Bold.ttf);
    font-weight: 700;
}

:root {
    --color-LaranjaSuave: #FB923C;
    --color-LaranjaIntenso: #F97316;
    --color-RedIntenso: #DC2626;
    --color-RedSuave: #EF4444;
    --color-Branco: #F3F4F6;
    --color-Azulfundo1: #111827;
    --color-Azulfundo2: #1F2937;
    --color-Cinza: #9CA3AF;
}

body {
    background-color: var(--color-Azulfundo1);
    overflow-x: hidden;
    color: var(--color-Branco);
}

header {
    background-color: #111827;
    background-size: contain;
    border-bottom: #ef444441 1px solid;
    
    width: 100%;
    height: 80px;
    padding: 0 clamp(24px, 5vw, 104px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header figure {
    padding-top: 8px;
}

header nav a {
    color: #D1D5DB;

    font-size: 16px;
    text-decoration: none;
    line-height: 28px;
    font-family: 'Nunito M';

}

header nav a:not(last-child) {
    margin-left: 32px;
}

header nav a {
    width: max-content;
    position: relative;
    cursor: pointer;
}

header nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 100%;
    left: 0;
    background-image: linear-gradient(45deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    transition: 0.5s;
    transition-timing-function: easy-in-out;
    transform: scaleX(0)
}

header nav a:hover::after {
    transform: scaleX(1)}

#pag-atual {
    color: #F87171;
}

.btn-gradiente {
    background: linear-gradient(45deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    color: var(--color-Branco);
    font-family: 'Montserrat B';
    font-size: 18px;
    padding: 16px 48px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.35s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transform: translateZ(0);

    max-width: 242px;
    min-height: 40px;
}

.btn-gradiente:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(255, 70, 20, 0.3);
    background: linear-gradient(90deg, var(--color-RedIntenso), var(--color-LaranjaIntenso));
}

.heading {
    min-height: 90vh;
    background-image: url(../../../img/Gradient.png), linear-gradient(130deg, var(--color-Azulfundo1), var(--color-Azulfundo2), #7f1d1de3);
    background-size: cover;
    background-position: center bottom;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    padding: 48px clamp(24px, 5vw, 104px);
}

.lead-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 300px;
}

.heading figure {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    min-width: 300px;
    margin: 0;
}

.heading figure img {
    width: 100%;
    max-width: 550px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease; 
}

.heading h1 {
    color: var(--color-Branco);
    font-size: clamp(48px, 5.5vw, 72px);
    font-family: 'Montserrat B';
    line-height: 1.1;
}

.heading .destaque {
    color: var(--color-RedSuave);
    line-height: 1.2; 
}

.normal {
    margin-top: 24px;
    font-size: clamp(18px, 1.5vw, 20px);
    color: var(--color-Cinza);
    font-family: 'Nunito R';
    line-height: 32px;
}

.destaque-p {
    color: #F87171;
    margin-bottom: 8px;
    font-size: clamp(18px, 1.5vw, 20px);
    font-family: 'Nunito SB';
    line-height: 32px;
}

.heading .lead-content img {
    max-width: 450px;
    width: 100%;
    height: auto;
    margin-top: 32px;
}

.tarefas {
    background-color: var(--color-Azulfundo2);
    opacity: 1;
    min-height: 90vh;
    padding: 92px clamp(24px, 5vw, 104px);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tarefas h2 {
    color: var(--color-Branco);
    font-size: clamp(36px, 4vw, 48px);
    font-family: 'Montserrat B';
    margin-bottom: 16px;
}

.tarefas p {
    font-family: 'Nunito R';
    font-size: 18px;
    color: var(--color-Cinza);
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    flex-wrap: wrap;
    padding: 80px 0;
    background-color: transparent;
    text-align: left;
    width: 100%;
}

/* CARD BASE */
.card {
    position: relative;
    background-color: var(--color-Azulfundo2);
    width: 320px;
    max-height: 300px;
    min-height: 280px;
    border-radius: 24px;
    padding: 40px 32px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    overflow: hidden;
}

.btn-sobre {
    width: 244px;
    height: 76px;
    color: var(--color-RedSuave);
    font-family: 'Montserrat B';
    font-size: 20px;
    background-color: transparent;
    border: var(--color-RedSuave) 2px solid;
    border-radius: 9999px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    box-shadow: 0px 0px 10px #EF4444;
    transition: all 0.3s ease;
}

.btn-sobre:hover {
    background-color: var(--color-RedSuave);
    color: var(--color-Branco);
}

.btn-sobre:hover img {
    filter: brightness(0) invert(1);
}

.icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    margin-bottom: 24px;
    transition: all 0.4s ease;
}

.icon img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
}

.card h2 {
    color: var(--color-Branco);
    font-family: 'Montserrat B', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.card p {
    color: #d1d5db;
    font-family: 'Nunito R', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.card::after {
    content: attr(data-number);
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 80px;
    color: rgba(255, 90, 0, 0.00);
    pointer-events: none;
    transition: all 0.4s ease;

    font-family: 'Montserrat B';
}

.card:hover {
    background-color: #1c2432;
    box-shadow: 0 0 35px 8px rgba(255, 70, 20, 0.2);
    transform: translateY(-6px);
}

.card:hover .icon {
    background: linear-gradient(135deg, #ff6333, #ff944d);
    box-shadow: 0 0 25px rgba(255, 70, 20, 0.4);
}

.card:hover::after {
    color: rgba(255, 70, 20, 0.15);
    transform: scale(1.05);
}

.provas {
    background-image: linear-gradient(135deg, #111827, #1F2937);
    opacity: 1;
    min-height: 90vh;
    padding: 92px clamp(24px, 5vw, 104px);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.provas h2 {
    color: var(--color-Branco);
    font-size: clamp(36px, 4vw, 48px);
    font-family: 'Montserrat B';
    margin-bottom: 16px;
}

.provas p {
    color: var(--color-Cinza);
    font-family: 'Nunito R';
    font-size: 18px;
}

.second-card {
    position: relative;
    background-color: #18202d;
    width: 320px;
    max-height: 300px;
    min-height: 280px;
    border-radius: 24px;
    padding: 40px 32px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    overflow: hidden;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-bottom: 8px;
}

.second-card .profile .content p {
    font-size: 14px;
    color: var(--color-Cinza);
}

.second-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    background: linear-gradient(135deg, #ff4500, #ff7b3e);
    margin-bottom: 16px;
    transition: all 0.4s ease;
}

.second-card .second-icon h2 {
    font-size: 20px;
    margin-bottom: 12px;
}

.second-card h2 {
    color: var(--color-Branco);
    font-family: 'Montserrat B', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4px;
}

.second-card p {
    color: var(--color-Branco);
    opacity: 0.8;
    font-family: 'Nunito R/I';
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.second-card .curso {
    background: linear-gradient(45deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    color: var(--color-Branco);
    font-family: 'Montserrat B';
    font-size: 18px;
    transition: all 0.8s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);

    max-width: auto;
    max-height: 32px;
    padding: 8px 18px;
    border-radius: 9999px;

    display: flex;
    align-items: center;
}

.second-card .curso:hover {
    box-shadow: 0 0 25px rgba(255, 70, 20, 0.3);
    background: linear-gradient(90deg, var(--color-RedIntenso), var(--color-LaranjaIntenso));
}

.second-card h5 {
    color: var(--color-Branco);
    font-size: 12px;

    font-family: 'Nunito M';
    font-weight: 500;
}

.second-card:hover {
    background-color: #1c2432;
    box-shadow: 0 0 35px 8px rgba(255, 70, 20, 0.2);
    transform: translateY(-6px);
}

.second-card:hover .icon {
    background: linear-gradient(135deg, var(--color-LaranjaIntenso), var(--color-LaranjaSuave));
    box-shadow: 0 0 25px rgba(255, 70, 20, 0.4);
}

.second-card:hover::after {
    color: rgba(255, 70, 20, 0.15);
    transform: scale(1.05);
}

.second-card .curso2 {
    background: linear-gradient(45deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    color: var(--color-Branco);
    font-family: Montserrat B;
    font-size: 18px;
    transition: all 0.35s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);

    max-width: 144px;
    max-height: 32px;
    padding: 8px 18px;
    border-radius: 9999px;

    display: flex;
    align-items: center;
}

.second-card .curso2:hover {
    box-shadow: 0 0 25px rgba(255, 70, 20, 0.3);
    background: linear-gradient(90deg, var(--color-RedIntenso), var(--color-LaranjaIntenso));
}

.second-card .curso3 {
    background: linear-gradient(45deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    color: var(--color-Branco);
    font-family: 'Montserrat B';
    font-size: 18px;
    transition: all 0.35s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);

    max-width: 115px;
    max-height: 32px;
    padding: 12px 18px;
    border-radius: 9999px;
    margin-top: 44px;

    display: flex;
    align-items: center;
}

.second-card .curso3:hover {
    box-shadow: 0 0 25px rgba(255, 70, 20, 0.3);
    background: linear-gradient(90deg, var(--color-RedIntenso), var(--color-LaranjaIntenso));
}

.home-cta {
    background: url(../../../img/Background2.png), linear-gradient(45deg, var(--color-RedIntenso), var(--color-RedSuave), var(--color-LaranjaIntenso));
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    min-height: 56vh;
    padding: 80px clamp(24px, 5vw, 104px);
    gap: 16px;
    text-align: center;
}

.home-cta h2 {
    color: var(--color-Branco);
    font-size: clamp(36px, 4vw, 48px);
    font-family: 'Montserrat B';

    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease;
    overflow: hidden;
}

.home-cta p {
    font-family: 'Nunito R';
    font-size: 18px;
    color: var(--color-Branco);
    opacity: 0.8;

    margin-bottom: 32px;
}

.home-cta button {
    background-color: var(--color-Branco);
    border: none;
    font-family: 'Montserrat B';
    font-size: 20px;
    color: var(--color-RedIntenso);
    cursor: pointer;
    transition: all 0.35s ease;

    width: 424px;
    height: 72px;
    border-radius: 9999px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.home-cta button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(255, 70, 20, 0.3);
    transition: all 0.35s ease;
}

footer {
    height: min-content;
    background-color: var(--color-Azulfundo1);
    border-top: #374151 1px solid;
    min-height: auto;
    padding: 80px clamp(24px, 5vw, 80px);

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(48px, 8vw, 82px);
}

.col-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    line-height: 26px;
    color: var(--color-Cinza);
    font-family: 'Nunito R';
    font-size: 16px;
    max-width: 300px;
}

.logo img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 16px;
}

.col-1 p {
    margin-bottom: 32px;
}

.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.socials img {
    width: 24px;
    height: 24px;
}

.socials-icons {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-Azulfundo2);
    transition: all 0.4s ease;
    border: #374151 1px solid;
}

.socials-icons:hover {
    transform: scale(1.2);
    transition: all 0.8 ease;
    background: linear-gradient(135deg, var(--color-RedIntenso), var(--color-LaranjaIntenso));
    box-shadow: 0 0 25px rgba(255, 70, 20, 0.4);
}

.socials-icons:hover img {
    filter: brightness(0) invert(1);
}

.col-2 h3 {
    color: var(--color-Branco);
    display: inline-block;
    padding-bottom: 12px;
    background-image: linear-gradient(90deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    background-repeat: no-repeat;
    background-size: 48px 3px;
    background-position: 0 100%;

    font-family: 'Montserrat B';
    font-size: 18px;
}

.col-2 nav {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 13px;
}

.col-2 nav a {
    text-decoration: none;
    color: var(--color-Cinza);
    font-family: 'Nunito R';
    transition: all 0.5s ease;
}

.col-2 nav a:hover {
    color: var(--color-RedSuave);
}

.col-3 h3 {
    color: var(--color-Branco);
    display: inline-block;
    padding-bottom: 12px;
    background-image: linear-gradient(90deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    background-repeat: no-repeat;
    background-size: 48px 3px;
    background-position: 0 100%;

    font-family: 'Montserrat B';
    font-size: 18px;
}

.col-3 ul {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    gap: 16px;
    padding: 0;
}

.col-3 ul li {
    list-style: none;
    color: var(--color-Cinza);
    font-family: 'Nunito R';
    transition: all 0.5s ease;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px
}

.col-3 ul li:hover {
    color: var(--color-RedSuave);
    font-family: 'Nunito R';
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px
}

.col-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
}

.col-4 h3 {
    color: var(--color-Branco);
    display: inline-block;
    padding-bottom: 12px;
    background-image: linear-gradient(90deg, var(--color-RedIntenso), var(--color-LaranjaSuave));
    background-repeat: no-repeat;
    background-size: 48px 3px;
    background-position: 0 100%;

    font-family: 'Montserrat B';
    font-size: 18px;
}

.col-4 .parceria {
    margin-top: 8px;
}

.contato-icon {
    width: 40px;
    height: 40px;
    background-color: var(--color-Azulfundo2);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.parceria {
    position: relative;
    background-color: var(--color-Azulfundo2);
    width: 268px;
    height: 250px;
    border-radius: 24px;
    padding: 24px 32px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    overflow: hidden;
    border: #374151 1px solid;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.logo-cps {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.logo-cps img {
    width: 70px;
    height: 47px;
}

.logo-cps h4 {
    font-family: 'Montserrat B';
    font-size: 16px;
    color: var(--color-Branco);
}

.parceria p {
    font-size: 14px;
    font-family: 'Nunito R';
    color: var(--color-Cinza);
}

.parceria a {
    color: var(--color-RedSuave);
    font-family: 'Nunito R';
    font-size: 14px;
    text-decoration: none;
}

.parceria a:hover {
    text-decoration: underline;
}

.parceria .link-cps a {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.parceria .link-cps a img {
    width: 16px;
    height: 16px;
}

.burocracia {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 500px;

    color: var(--color-Branco);
    border-top: #374151 1px solid;
    background-repeat: no-repeat;
    background-size: 80% 1px;
    background-position: top;

    font-family: 'Nunito R';
    font-size: 14px;
    color: var(--color-Cinza);
}

.politicas {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.politicas p {
    transition: color 0.5s ease;
}

.politicas p:hover {
    color: var(--color-RedSuave);
}

@media (max-width: 768px) {
    .heading {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 100px;
    }
    
    .heading figure img {
        max-width: 80%;
    }

    .heading .lead-content img {
        margin-left: auto;
    }
}